@media screen and (0px < width) {
  .Mid {
    display: flex;
    flex-direction: column;
    margin-top: clamp(10px, 10vw, 20px);
    width: 90%;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
    gap: 5px;
  }

  .Hourly-weather {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    gap: 20px;
  }

  .Hourly-weather-details {
    width: clamp(70px, 30vw, 80px);
    height: clamp(70px, 30vw, 100px);
    text-align: center;
    flex-shrink: 0;
  }

  .HDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    background-color: rgb(14, 18, 49);
    border-radius: 10px;
  }

  .Hour,
  .HTemp {
    margin: 10px 0px 10px 0px;
  }

  .HDetails > span {
    font-size: var(--font-size-hourly-weather);
  }

  .HImg {
    background-size: cover;
    background-repeat: no-repeat;
    width: clamp(30px, 5vw, 50px);
    height: clamp(30px, 5vw, 50px);
    margin: 0px auto 0px auto;
  }

  .slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .slide-left,
  .slide-right {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

@media screen and (700px < width) {
  .Mid {
    margin-top: clamp(20px, 10vw, 40px);
  }
  .Hourly-weather-details {
    width: clamp(100px, 30vw, 120px);
    height: clamp(130px, 30vw, 160px);
  }

  .HDetails {
    height: 100%;
    width: 100%;
  }

  .HDetails > span {
    font-size: var(--font-size-hourly-weather);
  }

  .HImg {
    width: clamp(60px, 10vw, 100px);
    height: clamp(60px, 10vw, 100px);
  }

  .slider {
    gap: clamp(40px, 10vw, 100px);
  }

  .slide-left,
  .slide-right {
    font-size: var(--font-size-location-small);
  }
}

@media screen and (1200px <= width) {
  .Mid {
    max-width: 2500px;
    margin-top: clamp(40px, 10vw, 90px);
  }

  .Hourly-weather {
    justify-content: space-between;
    width: 100%;
  }

  .Hourly-weather-details {
    width: clamp(100px, 30vw, 135px);
    height: clamp(130px, 30vw, 180px);
  }

  .HDetails > span {
    font-size: var(--font-size-hourly-weather);
  }

  .HImg {
    width: clamp(60px, 10vw, 60px);
    height: clamp(60px, 10vw, 60px);
    margin: 0px auto 0px auto;
  }

  .slider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(40px, 10vw, 100px);
  }

  .slide-left,
  .slide-right {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: var(--font-size-location-small);
  }
}

@media screen and (2230px <= width) {
  .slider {
    display: none;
  }
}
