.dw-container {
  flex-shrink: 1;
}
.dw-details-container {
  display: flex;
  flex-direction: row;
  transition: 0.3s ease-in-out;
}
.dw-details {
  padding: 25px 0px;
}
.dw-details-opened {
  height: 100px;
}
.dw-details-closed {
  height: 0px;
}
@media only screen and (max-width: 900px) {
  .dw-details-container {
    flex-direction: column;
  }
  .dw-details {
    padding: 10px 0px;
  }
  .dw-details-opened {
    height: 200px;
  }
  .dw-container {
    flex-shrink: 0;
  }
}
