@media screen and (0px <= width) {
  .cw-widgets-container {
    flex-direction: column;
  }
  .cw-widget {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .cw-icon {
    width: clamp(70px, 12vw, 150px);
    height: clamp(70px, 12vw, 150px);
    background-size: cover;
  }
  .search-bar-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-end;
  }
  .search-button {
    transition: 0.2s ease-in-out;
  }
  .search-button:hover {
    filter: brightness(0.6);
  }
}

@media screen and (0px <= width < 440px) {
  .cw-widget {
    grid-template-columns: 1fr;
  }
}
@media screen and (width >= 1200px) {
  .cw-widgets-container {
    flex-direction: row;
  }
  .cw-widget {
    grid-template-columns: 1fr 1fr;
  }
  .cw-icon {
    width: clamp(70px, 12vw, 150px);
    height: clamp(70px, 12vw, 150px);
    background-size: cover;
  }
  .search-bar-container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: flex-end;
  }
}
