:root {
  --fs-xxl: clamp(22px, 3.5vw, 52px);
  --fs-xl: clamp(16px, 2.5vw, 35px);
  --fs-l: clamp(16px, 2vw, 25px);
  --fs-m: clamp(16px, 1.5vw, 20px);
  --fs-s: clamp(14px, 1.5vw, 16px);
  --font-size-hourly-weather: clamp(12px, 3.5vw, 18px);
  --font-color-bsick: white;
  --fc-gray: rgb(141, 139, 139);

  --font-size-accordion-title: clamp(16px, 2vw, 24px);
  --font-size-accordion-weather-details: clamp(14px, 1.5vw, 20px);
}
.fs-xxl {
  font-size: var(--fs-xxl);
}
.fs-xl {
  font-size: var(--fs-xl);
}
.fs-l {
  font-size: var(--fs-l);
}
.fs-m {
  font-size: var(--fs-m);
}
.fs-s {
  font-size: var(--fs-s);
}
.fc-gray {
  color: var(--fc-gray);
}
.App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
@media screen and (0px <= width) {
  .weather-container {
    margin: 0% clamp(5%, 5vw, 20%);
  }
}

* {
  margin: 0px;
  padding: 0px;
  color: white;
}

.css-1u9des2-indicatorSeparator {
  background-color: gray !important;
}
.css-13cymwt-control {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  border-radius: 0px !important;
  border-bottom: solid 1px gray !important;
}
.css-b62m3t-container {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
  border-radius: 0px !important;
}
.css-t3ipsp-control {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  border-radius: 0px !important;
  border-bottom: solid 1px gray !important;
}
.css-1dimb5e-singleValue {
  color: white !important;
}
.css-1nmdiq5-menu {
  background-color: rgba(128, 128, 128, 0.308) !important;
  border: solid 1px gray !important;
  border-radius: 5px !important;
  color: white !important;
}
.css-1nmdiq5-menu > * :hover {
  background-color: rgba(128, 128, 128, 0.308) !important;
}
.css-1nmdiq5-menu > * :focus {
  background-color: rgba(128, 128, 128, 0.308) !important;
}
.css-1nmdiq5-menu > * ::before {
  background-color: rgba(128, 128, 128, 0.308) !important;
}
.css-1nmdiq5-menu > * ::after {
  background-color: rgba(128, 128, 128, 0.308) !important;
}
input {
  color: white !important;
}
::-webkit-input-placeholder,
::-moz-placeholder,
::placeholder {
  color: white !important;
  opacity: 1 !important;
}
